// Place all the styles related to the Pets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pets-filter {
  margin-top: 0px;
}

.orange-btn {
  background-color: orange;
}

.explore-txt {
  color: orange;
}

.pet-remove-fav {
  display: none;
  color: blue;
}
